[phases.setup]
nixPkgs = ["python310", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = []

[start]
cmd = "python -m uvicorn app.main:socket_app --host 0.0.0.0 --port $PORT"
